{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% trans "My Portfolio" %}</title>
    {# Get about.css #}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
    {# Bootstrap CSS CDN #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <!-- Nav side bar for social media -->
    {% if person.is_defined_social_network %}
    <div class="icon-bar">
        {% if person.facebook %}
        <a href="{{ person.facebook }}" class="facebook"><i class="fab fa-facebook"></i></a>
        {% endif %}
        {% if person.twitter %}
        <a href="{{ person.twitter }}" class="twitter"><i class="fab fa-twitter"></i></a>
        {% endif %}
        {% if person.linkedin %}
        <a href="{{ person.linkedin }}" class="linkedin"><i class="fab fa-linkedin"></i></a>
        {% endif %}
        {% if person.github %}
        <a href="{{ person.github }}" class="github"><i class="fab fa-github"></i></a>
        {% endif %}
        {% if person.instagram %}
        <a href="{{ person.instagram }}" class="instagram"><i class="fab fa-instagram"></i></a>
        {% endif %}
        {% if person.codingame %}
        <a href="{{ person.codingame }}" class="codingame"><i class="fas fa-code"></i></a>
        {% endif %}
    </div>
    {% endif %}

    <!-- About me -->
    <header>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="display-1 text-black-50">
                        {% trans "Hi!" %} 
                        <small class="small">
                            I{%trans "I am" %} {{ person.last_name|upper }} {{ person.first_name|capfirst }}
                        </small>
                    </h1>
                    <p class="text-center text-white py-5">
                        {% blocktrans %} I am {{ person.get_person_age }} years old, i was born on the {{ person.birth_date|date:"F d, Y" }} {% endblocktrans %}.<br>
                        {% trans "French guy from the South West Coast, I am a junior developer !" %} 
                        {%{% trans "This website is powered by Django, and maintained by myself." %} <br>
                        {% trans "Keywords to describe my main interests : Environment, Gaming, Opensource!" %}<br>
                        {% if person.email %}
                        {% trans "To contact me, please click on the following button:" %}<br>
                        <a href="mailto:{{ person.email }}" target="_top" role="button"
                            class="btn btn-outline-light mt-2">{% trans "Send Mail" %}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </header>

    <!-- Skills -->
    <div class="container-fluid bg-profession py-5">
        <div class="container">
            <div class="col-1"></div>
            <div class="col-10">
                <h1><i class="fas fa-laptop-code"></i> {% trans "Skills" %}</h1>
            </div>
            <div class="col-1"></div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-center">
                {% for skill in person.skill_set.all %}
                <div class="text-center col py-3">
                    <i class="{{ skill.fontawesome }} fa-6x text-black-50"></i>
                    <h5 class="pt-2">{{ skill.name }}</h5>
                    {% if skill.frameworks or skill.libraries or skill.others %}
                    <a class="text-black-50" data-toggle="collapse" href="#skill-{{ skill.name }}">
                        {% trans "More" %}
                    </a>
                    <div id="skill-{{ skill.name }}" class="container collapse text-black-50">
                        <div class="row-cols-1 pt-2">
                            {% if skill.frameworks %}
                            <div class="more pb-2">
                                <b>Framework(s): </b>{{ skill.frameworks }}
                            </div>
                            {% endif %}
                            {% if skill.libraries %}
                            <div class="more pb-2">
                                <b>{% trans "Libraries(s):" %} </b>{{ skill.libraries }}
                            </div>
                            {% endif %}
                            {% if skill.others %}
                            <div class="more pb-2">
                                <b>{% trans "Tool(s):" %} </b>{{ skill.others }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Interests Carousel -->
    <div class="container-fluid bg-dark text-white">
        <div class="container py-5">
            <div class="col-1"></div>
            <div class="col-10">
                <h1><i class="fas fa-grin-beam"></i> {% trans "Interests" %}</h1>
            </div>
            <div class="col-1"></div>
            <div id="carouselExampleCaptions" class="carousel slide py-2" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'about/images/forest.jpg' %}" class="d-block w-100" alt="Forest">
                        <div class="carousel-caption bg-carousel p-2">
                            <h4>{% trans "Environment" %}</h4>
                            <p class="text-black">
                                {% blocktrans trimmed %}
                                    As there is no planet B, I give a special care about environment.
                                    This interest drives me to improve in Zero Waste actions, but also to appreciate the nature during my hiking sessions.
                                    To appreciate our environment, we need to respect it first !
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'about/images/game.jpg' %}" class="d-block w-100" alt="Gaming">
                        <div class="carousel-caption bg-carousel p-2">
                            <h4>{% trans "Gaming" %}</h4>
                            <p class="text-black">
                                {% blocktrans trimmed %}
                                    Gaming has an incredible power to assemble people together.
                                    This why we have a great community, full of differences but under the same passion.
                                    Truth to be told, if you want to be a good gamer, you need to have a strong sense of teamplay!
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'about/images/code.jpg' %}" class="d-block w-100" alt="Code">
                        <div class="carousel-caption bg-carousel p-2">
                            <h4>{% trans "Opensource" %}</h4>
                            <p class="text-black">
                                {% blocktrans trimmed %}
                                    A huge part of my knowledge about coding is due to the opensource community.
                                    It allows to share knowledge freely between every programmers, without judging your skills.
                                    I want to contribute of this opensource mindset.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Previous" %}</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Next" %}</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Professional experience -->
    <div class="container-fluid bg-profession py-5">
        <div class="container">
            <div class="col-1"></div>
            <div class="col-10">
                <h1><i class="far fa-id-badge"></i> {% trans "Professional experience" %}</h1>
            </div>
            <div class="col-1"></div>
            {% for professional in person.professional_set.all %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="container bg-white text-dark container-profession rounded border p-5 m-4">
                        <div class="row">
                            <h5>
                                {% trans professional.title %}
                                <small class="small text-black-50">
                                    {% trans professional.company %} - {{ professional.get_duration }}
                                </small>
                            </h5>
                        </div>
                        <div class="row">
                            <p>{% trans professional.resume %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Formation -->
    <div class="container-fluid bg-dark py-5">
        <div class="container">
            <div class="col-1"></div>
            <div class="col-10">
                <h1 class="text-white"><i class="fas fa-user-graduate"></i> {% trans "Formation" %}</h1>
            </div>
            <div class="col-1"></div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="card-deck mt-3 ml-4">
                        {% for formation in person.formation_set.all %}
                        <div class="card bg-white py-2 container-formation">
                            <div class="card-body">
                                <h5 class="card-title pb-2"><b>{% trans formation.title %} </b>
                                    <small class="small text-black-50">
                                        {% trans formation.institute %} - {{ formation.get_duration }}
                                    </small>
                                </h5>
                                <p class="card-text">{% trans formation.resume %}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container text-center py-2">
            <p>
                {% trans "This site is maintained with the Python Web framework Django and the CSS Framework Bootstrap." %}
                {% trans "Author :" %} <b>G.CLARO Sébastien</b>
            </p>
        </div>
    </footer>

    {#  Get Bootstrap4 JS CDN  #}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    {#  Get FontAwesome5 JS Kit #}
    <script src="https://kit.fontawesome.com/8d65676ac5.js" crossorigin="anonymous"></script>
</body>

</html>