{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    {# Get about.css #}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
    {# FontAwesome CSS DL #}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    {# Bootstrap CSS DL #}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    {% if person.is_defined_social_network %}
        <div class="icon-bar">
            {% if person.facebook %}
                <a href="{{ person.facebook }}" class="facebook"><i class="fab fa-facebook"></i></a>
            {% endif %}
            {% if person.twitter %}
                <a href="{{ person.twitter }}" class="twitter"><i class="fab fa-twitter"></i></a>
            {% endif %}
            {% if person.linkedin %}
                <a href="{{ person.linkedin }}" class="linkedin"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            {% if person.github %}
                <a href="{{ person.github }}" class="github"><i class="fab fa-github"></i></a>
            {% endif %}
            {% if person.instagram %}
                <a href="{{ person.instagram }}" class="instagram"><i class="fab fa-instagram"></i></a>
            {% endif %}
        </div>
    {% endif %}

    <header>
    <div class="jumbotron jumbotron-fluid bg-dark text-white-50">
      <div class="container">
        <h1 class="display-1 text-white">Welcome to my portfolio !</h1>
        <p>Hi, I am {{ person.last_name|upper }} {{ person.first_name|capfirst }}.</p>
        <p>I am {{ person.get_person_age }} years old, i was born on the {{ person.birth_date|date:"F d, Y" }}.</p>
      </div>
    </div>
    </header>

    <div class="container bg-white">
        <div class="row">
            <h1><i class="far fa-id-badge fa-1x"></i> Professional experience</h1>
        </div>
        <div class="row">
            <div class="card-deck">
                {% for professional in person.professional_set.all %}
                    <div class="card bg-dark border-white text-white">
                        <div class="card-header border-white">
                            <h5 class="card-title">{{ professional.title }}</h5>
                            <p class="text-white-50"><b>Duration: </b>{{ professional.get_months_duration }} months</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text ">{{ professional.resume }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
    {% if person.email %}
        <p>To contact me, please click here : <a href="mailto:{{ person.email }}" target="_top">Send Mail</a></p>
    {% endif %}
    </div>

    <footer>

    </footer>
    {# Get jQuery #}
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    {#  Get Bootstrap4 JS  #}
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    {#  Get FontAwesome5 JS #}
    <script type="text/javascript" src="{% static 'fontawesome/js/all.min.js' %}"></script>
</body>
</html>